@media only screen and (max-width: 600px){

    .mobile-drawer{
      display: block;
    }


    .sidebar_wrapper{
      display: none;
    }

    .main-wrapper{
      margin: 0;
      padding: 0;
      border: 0;
      list-style: none;
      line-height: 1;
      display: block;
      position: relative;
    }
} 